<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./card.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div id="card" class="d-flex flex-column">
        
        <div class="d-flex align-items-center justify-content-center">
            <img src="../../assets/imgs/honey.jpg" alt="" />

        </div>
        
        <div id="container" class="d-flex align-items-center justify-content-center">
          <div id="text" class="d-flex flex-column align-items-center">
            <h1>100% Bio Honey</h1>
            <p>Italian, not treated</p>
          </div>
          <div id="price">
            <p>7$/kg</p>
          </div>
        </div>

        <div id="add-to-cart" class="d-flex align-items-center justify-content-center">
          <button>Add to cart</button>
        </div>

      </div>
    </main>
  </body>
</html>
