<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="./nav_bar.css" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul>
          <li>Our Honey</li>
          <li>Trace Honey</li>
          <li id="Shop">
            <img src="../../assets/imgs/logo.png" alt="logo" width="50px" /><a
              href="#"
              >Shop</a
            >
          </li>
          <li>Facilities</li>
          <li>Contacts</li>
        </ul>
      </nav>
    </header>
  </body>
</html>
